<?xml version="1.0" encoding="UTF-8"?>
<!-- 	<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
		"http://www.springframework.org/dtd/spring-beans.dtd"> -->
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/tx
   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
   http://www.springframework.org/schema/aop
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
   default-autowire="byName" >
	<!--定义数据源  -->
	<bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/qiye"></property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
	<bean name="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!--1  -->
		<property name="dataSource" ref="dataSource"></property>
		<!--2  -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>			
				<prop key="hibernate.show_sql">true</prop>			
				<prop key="hibernate.format_sql">true</prop>			
				<prop key="hibernate.hbm2ddl.auto">update</prop>			
			</props>
		</property>
		<!--3  -->
		<property name="mappingResources">
			<list>
				<value>edu/tsinghua/entity/mapping/user.xml</value>
				<value>edu/tsinghua/entity/mapping/anlizhanshi.xml</value>
				<value>edu/tsinghua/entity/mapping/chanpinjieshao.xml</value>
				<value>edu/tsinghua/entity/mapping/department.xml</value>
				<value>edu/tsinghua/entity/mapping/huodongjieshao.xml</value>
				<value>edu/tsinghua/entity/mapping/jizhanghuodonginfo.xml</value>
				<value>edu/tsinghua/entity/mapping/kaoqineveryday.xml</value>
				<value>edu/tsinghua/entity/mapping/kaoqinsum.xml</value>
				<value>edu/tsinghua/entity/mapping/kuaijireport.xml</value>
				<value>edu/tsinghua/entity/mapping/userlogininfo.xml</value>
				<value>edu/tsinghua/entity/mapping/usertype.xml</value>
				<value>edu/tsinghua/entity/mapping/yuangongreport.xml</value>
				<value>edu/tsinghua/entity/mapping/zhangmuinfo.xml</value>
			</list>
		</property>
	</bean>
	
	<bean name="userLoginDao" class="edu.tsinghua.dao.UserLoginInfoDao"/>
	<bean name="userLoginBiz" class="edu.tsinghua.biz.UserLoginInfoBiz"/>
	<bean name="loginAct" class="edu.tsinghua.action.LoginAction"/>
	
	
	<!--员工基本信息  -->
	<bean name="userDao" class="edu.tsinghua.dao.UserDao"/>
	<bean name="userBiz" class="edu.tsinghua.biz.UserBiz"/>
	<bean name="whoAct" class="edu.tsinghua.action.LoginWhoAction" />
	
	<!--账目管理  -->
	<bean name="ZhangmuDao" class="edu.tsinghua.dao.ZhangmuDao"/>
	<bean name="ZhangmuBiz" class="edu.tsinghua.biz.ZhangmuBiz"/>
	<bean name="ZhangmuAct" class="edu.tsinghua.action.ZhangmuAction" />
	
	<!--定义事务管理器  -->
	<bean id="txm" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
</beans>